<div class="content container">
	<h2>SEE PERCOLATE IN ACTION</h2>
	<div class="demo-form-container container">
		<section class="demo-form">
			<p>See how Percolate can help you grow revenue and deliver better customer experiences</p>
			<form id="perc-form" class="perc-form">
				<input type="text" name="firstname" placeholder="First Name" value="{{firstname}}">
				<input type="text" name="lastname" placeholder="Last Name" value="{{lastname}}">
				<input type="email" name="email" placeholder="Company Email" value="{{email}}">
				<input type="text" name="company" placeholder="Company" value="{{company}}">
				<input type="tel" name="phone" placeholder="Phone Number" value="{{phone}}">
			</form>
			<button class="perc-submit"><strong>SEE PERCOLATE</strong></button>
		</section>
	</div>
</div>

